---
import Layout from '../layouts/Layout.astro'; 
import NavBar from '../components/NavBar.astro'; 
---

<Layout title="Oliviodev.com">
	<NavBar></NavBar>
	 <div class="flex w-full h-screen  bg-gradient-to-tr from-slate-900 via-black to-violet-900 items-center justify-center ">
		<h1 class="font-thin text-2xl text-white">Oliviodev.com...! 💻 </h1>
	 </div>
</Layout>
 