---

---

<nav class="bg-gray-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0">
        <img
          src="https://i.ibb.co/dLjkRXr/2c59b6cf6c57.jpg"
          alt="profile"
          class="w-14 h-14 rounded-full cursor-pointer"
        />
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
          <p class="font-light text-2xl text-white">Olivio Subelza Cabezas<p/>
        </div>
      </div>
    </div>
  </div>
</nav>
